.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

img {
	align-self: center;
}

input {
	display: block;
    width: 300px;
    height: 2em;
    margin: 0 auto;
    border: 1px #ccc solid;
    border-radius: 2px;
    padding-left: 1em;
    padding-bottom:1em;
    font-size: 14px;
}
